@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('responsive.css');
@import url('global.css');


:root {
    --light: #f6f6f9;
    --primary: #00aec5;
    --primary-hover: #01899b;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #52c0ae;
    --light-success: #BBF7D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bx {
    font-size: 1.7rem;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: rgba(32, 33, 35, 1);
    --grey: rgba(68, 70, 84, 1);
    --dark: #fbfbfb;
}

select option {
    background-color: var(--grey) !important;
    color: var(--dark) !important;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

/*Menu Lateral*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 215px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 60px;
}

.sidebar .logo {
    font-size: 17px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
    transition: all 0.3s ease;
}

.sidebar .logo .logo-name span {
    color: var(--dark);
}

.sidebar .logo .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px !important;
}

.sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 0.8rem;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a {
    color: var(--success);
}

.sidebar.close .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout {
    color: var(--danger);
}

.content {
    position: relative;
    width: calc(100% - 215px);
    left: 215px;
    transition: all 0.3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 60px);
    left: 60px;
}

/*Nav Menu*/
.content .head {
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0 !important;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content .head::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content .head a {
    color: var(--dark);
}

.content .head .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

.content .head form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content .head form .title-page-header {
    background: var(--light);
    display: flex;
    align-items: center;
    grid-gap: 14px;
    cursor: pointer;
}

.content .head form .title-page-header h1 {
    color: var(--dark);
    font-size: 1rem;
}

.content .head form .title-page-header .bx {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-primary);
    color: var(--primary);
}

.content .head form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

.content .head form .form-input input {
    flex-grow: 1;
    padding: 0 16px !important;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content .head form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content .head .notif {
    font-size: 20px;
    position: relative;
}

.content .head .notif .count {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .head .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.content .head .theme-toggle {
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content .head .theme-toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content .head #theme-toggle:checked+.theme-toggle::before {
    left: calc(100% - (25px - 4px) - 2px);
}

/*Insights*/
.content main {
    width: 100%;
    padding: 10px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li {
    color: var(--dark);
}

.content main .header .left .breadcrumb li a {
    color: var(--dark);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active {
    color: var(--primary);
    pointer-events: none;
}

.content main .header .report {
    height: 36px;
    padding: 0 16px !important;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .formulario {
    width: 100%;
    background: var(--light);
    border-radius: 20px;
}

/*Insights**/
.content main .insights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 36px;
}

.content main .insights li {
    padding: 24px !important;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx {
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx {
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx {
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx {
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p {
    color: var(--dark);
}

.content main .bottom-data {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    grid-gap: 24px;
    margin-top: 10px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px !important;
    /* overflow-x: auto; */
}

.content main .bottom-data .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx {
    cursor: pointer;
}

/*Tabela Orders*/
.content main .bottom-data .orders {
    flex-grow: 1;
    flex-basis: 650px;
}

.content main .bottom-data .orders table {
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th {
    padding: 0px 1rem 12px 1rem !important;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td {
    padding: 10px 6px !important;
    text-align: center;
    vertical-align: text-top;
    user-select: none;
}

.content main .bottom-data .orders table tr td:first-child {
    /*display: flex;
    align-items: center;*/
    grid-gap: 12px;
    padding-left: 6px !important;
}

.content main .bottom-data .orders table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover {
    background: var(--grey);
}

.content main .bottom-data .orders table tr td .status {
    font-size: 10px;
    padding: 6px 16px !important;
    color: var(--light);
    border-radius: 28px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed {
    background: var(--success);

}

.content main .bottom-data .orders table tr td .status.process {
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending {
    background: var(--warning);
}

/*Tabela Reminders*/

.content main .bottom-data .reminders {
    flex-grow: 1;
    /* flex-basis: 350px; */
}

.content main .bottom-data .reminders-pequeno{
    flex-grow: 1;
    flex-basis: 150px;
}
.content main .bottom-data .reminders .task-list {
    width: 100%;
}

.content main .bottom-data .reminders .task-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title {
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p {
    margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx {
    cursor: pointer;
}

.content main .bottom-data .reminders .task-list li.completed {
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed {
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child {
    margin-bottom: 0;
}


/*LOGIN*/

.body-login {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px !important;
    color: var(--dark);
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90%;
    padding: 70px 30px 44px !important;
    border-radius: 1.25rem;
    background: var(--light);
    text-align: center;
}

.login>img {
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login>h2 {
    font-size: 36;
    margin: 0 0 25px;
}

.login>h3 {
    color: var(--dark-grey);
    margin: 0 0 6px;
    font-weight: 500;
    font-size: 1rem;
}

.login-form {
    display: grid;
    gap: 30px;
    place-items: center;
    width: 100%;
    margin: 0;
}

.login-form>input,
.login-form>button {
    height: 56px;
    outline: none;
    padding: 0 !important;
    font-family: inherit;
}

.login-form>input {
    color: var(--dark);
    width: 240px;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--dark);
    font-size: 12px;
    padding: 0 !important;
    text-align: center;
    transition: all 0.3s;
}

.login-form>input:hover {
    border-radius: 2px solid var(--primary);
}

.login-form>button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    background: var(--primary);
    color: var(--dark);
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s;
}

.login-form>button:hover {
    background-color: var(--success);
}

.login-form>a {
    color: var(--dark);
    font-size: 1rem;
    text-align: left;
    transition: all 0.3s;
}

.login-form>a:hover {
    color: var(--success);
}

.header .sub-header {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.janela-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.janela-modal.abrir {
    display: flex;
}

.modal {
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    height: 85vh;
}

.modal #fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background-color: var(--danger);
    color: var(--light-danger);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal #fechar:hover {
    width: 40px;
    height: 40px;
}

.clearable-input {
    position: relative;
  }

  .clearable-input input[type="text"] {
    padding-right: 25px;
  }

  .clearable-input .clear-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }


  th.sortable {
    cursor: pointer;
    position: relative; /* Para posicionar os ícones */
  }
  .asc::after {
    content: " ▲"; /* Ícone de seta para cima */
  }
  .desc::after {
    content: " ▼"; /* Ícone de seta para baixo */
  }

  
@keyframes abrirmodal {

    from {

        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}

.abrir .modal {
    animation: abrirmodal 0.5s;
}

@media (width >=450px) {
    .login {
        width: 380px;
    }
}

@media (width >=500px) {
    .body-login {
        padding: 0 !important;
    }
}

@media (width >=500px) {
    .body-login {
        padding: 0 !important;
    }
}


/* Botão de switch */
.botao-switch {
    display: flex;
    align-items: center;
}
.botao-switch .switch {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adicione margem à esquerda para separar o switch do label */
}
.botao-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 35px;
    height: 20px;
    background: #d0d0d0;
    display: block;
    border-radius: 100px;
    position: relative;
}
.botao-switch label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #5e5959;
    border-radius: 90px;
    transition: 0.3s;
}
.botao-switch input:checked + label {
    background: #00c3ff;
}
.botao-switch input:checked + label:after {
    background: #ffffff;  
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.botao-switch label:active:after {
    width: 15px;
}
.botao-switch input[type=checkbox] {
    cursor: pointer;
    height: 0;
    width: 0;
    visibility: hidden;
}




/* Classes Personalizadas */
.marcarTodos {
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.select-none {
    user-select: none;
}

.checkbox {
    cursor: pointer;
}

#floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    border: 1px solid #ccc;
    /* padding: 30px; */
    padding: 30px 35px;
    border-radius: 5px;
    z-index: 9999;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#floating-window .close-button {
    position: absolute;
    top: -4px;
    right: 8px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    color: #555;
    z-index: 10000;
}
#floating-window .close-button:hover {
    color: #B30016;
}
#floating-window .hidden-cargos {
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;  /* Cor do fundo da barra */
}

::-webkit-scrollbar-thumb {
    background: #888;    /* Cor da barra */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;    /* Cor da barra :hover */
}

.bold {
    font-weight: 700;
}

/* styles.css */
.pagination {
    height: 60px;
    background: var(--light);
    align-items: center;
    grid-gap: 24px;
    display: flex;
    padding: 0;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000;
    user-select: none;
    background: var(--light);
    border-radius: 10px;
}

.pagination span {
    cursor: default;
    background: var(--light);
}

.pagination a {
    background: var(--light);
    color: var(--dark);
}

.pagination a:hover {
    color: var(--dark-grey);
}

.pagination > li > a, .pagination > li > span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 3px;
}

.pagination > .active > a, .pagination > .active > span {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination > li > a:hover, .pagination > li > span:hover {
    background-color: #f0f0f0;
}